@model ErrorViewModel

<h1 class="text-danger error">Error</h1>
<img src="~/images/icons/error.png" alt="an error has occured" class="logovacationey logo-logout additional30px" />
<h2 class="text-danger error">@Model.Message</h2>