
<hr />
<footer>

    <div class="copyright">
        Vacationey 2022 &copy;
    </div>
    <div class="links">
        <a href="https://github.com/sewcio543/Vacationey" target="top">
            <img src="/images/icons/github.png" alt="GITHUB">
        </a>

    </div>
    <div id="zegar"></div>
</footer>
