:root {
    --foreground: #C9C5CE;
    --hrshadows: #342B09;
    --textshadow: #ffffff;
    --bodyBackground: linear-gradient(to right top, #484c58, #434550, #3e3e47, #39373f, #333037);
}


<div class="copyright">
    Vacationey 2022 &copy;
</div>
<div class="links">
    <a href="https://github.com/sewcio543/Vacationey" target="top">
        <img src="/images/icons/github.png" alt="GITHUB">
    </a>

</div>
<div id="zegar"></div>
