
<hr />
<footer>

    <div class="copyright">
        Vacationey 2022 &copy;
    </div>
    <div class="links">
        <a href="https://github.com/sewcio543/Vacationey" target="top">
            <img src="/images/icons/github.png" alt="GITHUB">
        </a>
        <a href="/Home">
            <img src="/images/icons/logo.png" alt="LOGO">
        </a>
         <a href="https://www.zarz.agh.edu.pl/" target="top">
            <img src="/images/icons/wz.png" alt="WZ">
        </a>
        
    </div>
    <div id="zegar"></div>
</footer>
