<header>

    <nav class="menu" id="bigMenu">
        <div class="logo">
            VACATIONEY
        </div>

        <div class="dropdown">
            <a class="dropbtn" asp-area="" asp-controller="Offer" asp-action="Index">Home</a>
        </div>

        <div class="dropdown">
            <a class="dropbtn" asp-area="" asp-controller="Offer" asp-action="Index">Login</a>
            <div class="dropdown-content">
                <a class="dropbtn" asp-area="" asp-controller="Offer" asp-action="Index">Login</a>
                <a class="dropbtn" asp-area="" asp-controller="Offer" asp-action="Index">Register</a>

            </div>
        </div>
    </nav>
</header>
