
<img src="~/images/photos/home.jpg" class="full"/>

<h1>Zapraszamy do śledzenia naszej oferty!</h1>
 <div id="image_container">
    <input type="radio" name="radio-btn" onclick="jeden()" id="btn1">
    <input type="radio" name="radio-btn" onclick="dwa()" id="btn2">
    <input type="radio" name="radio-btn" onclick="trzy()" id="btn3">
    <input type="radio" name="radio-btn" onclick="cztery()" id="btn4">
    <div class="slide first">      
      <img src="~/images/photos/test3.jpg" class="photo" id="p1" alt="" />
    </div>
    <div class="slide">
      <img src="~/images/photos/test2.jpg" class="photo" id="p2" alt="">
    </div>
    <div class="slide">
      <img src="~/images/photos/test4.jpg" class="photo" id="p3" alt="">
    </div>
    <div class="slide">
      <img src="~/images/photos/test15.jpg" class="photo" id="p4" alt="">
    </div>

    <div class="navig-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
    </div>
    <div class="nav-manual">
      <label for="btn1" class="manual-btn"></label>
      <label for="btn2" class="manual-btn"></label>
      <label for="btn3" class="manual-btn"></label>
      <label for="btn4" class="manual-btn"></label>
    </div>
  </div>
@*
<div id="slider">
    <img id="slidePhoto fade" src="~/images/photos/test1.jpg" alt="">
</div>
*@
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.8499785292383!2d19.902001197815324!3d50.070371156963006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165bba48eede47%3A0xa161dce32fa7b552!2sWydzia%C5%82%20Zarz%C4%85dzania%20AGH!5e0!3m2!1spl!2spl!4v1655386773132!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
