@model Backend.Models.ViewModels.HotelViewModel
@{
    string YesNo(bool active)
    {
        return active ? "Yes" : "No";
    }

    string[] files = Directory.GetFiles("wwwroot/images/photos");
    int count = System.IO.Directory.EnumerateFiles("wwwroot/images/photos").Count();
    var random = new Random();
    var photoID = random.Next(1, count);
    var path = files[photoID][7..];

}

<div class="details">
    <img src=@path />
    <div class="infoDetails">
        <div class="textInfo">
            <p>
                Name: &nbsp;&nbsp; @Model.Hotel.Name
            </p>
            <p>
                City: &nbsp;&nbsp; @Model.City.Name
            </p>

            <p id="stars">
                @*<div id="stars">*@

                @for (int i = 0; i < Model.Hotel.Rate; i++)
                {
                    <span class="star">&#9733;</span>
                }
                @for (int i = Model.Hotel.Rate; i < 5; i++)
                {
                    <span class="star">&#9734;</span>
                }

                @*</div>*@

            </p>
            <p>
                Wi-Fi: &nbsp;&nbsp;  @YesNo(Model.Hotel.WiFi)
            </p>
            <p>
                Pool: &nbsp;&nbsp;  @Model.Hotel.Pool
            </p>
        </div>

        <div class="details-links">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Hotel" asp-action="Edit">Edit</a>
            }
            <a asp-area="" asp-controller="Offer" asp-action="Index" asp-route-hotelId=@Model.Hotel.HotelId asp-route-page=1>Offers</a>
            <a asp-area="" asp-controller="Hotel" asp-action="Index">Back To List</a>
        </div>

    </div>
</div>






