@model Backend.Models.ViewModels.HotelViewModel

@{
    string[] files = Directory.GetFiles("wwwroot/images/hotels");
    int count = files.Count();
    var random = new Random();
    var photoID = random.Next(1, count);
    var path = files[photoID][7..];
}

@if (Model.Hotel != null)
{
    <a asp-action="Details" asp-route-id=@Model.Hotel.HotelId>

        <div class="offer">

            <img src=@path>

            <div class="info">

                <p>
                    @Model.Hotel.Name

                </p>
                <p>
                    @if (Model.City != null)
                    {
                        @Model.City.Name
                    }
                </p>
                <div id="stars">

                    @for (int i = 0; i < Model.Hotel.Rate; i++)
                    {
                        <span class="star">&#9733;</span>
                    }
                    @for (int i = Model.Hotel.Rate; i < 5; i++)
                    {
                        <span class="star">&#9734;</span>
                    }

                </div>

            </div>
            <div class="edit-delete">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id=@Model.Hotel.HotelId class="edit">Edit</a>
                    <a asp-action="Delete" asp-route-id=@Model.Hotel.HotelId class="edit">Delete</a>

                }
            </div>


        </div>

    </a>
}


