@model Backend.Models.ViewModels.CityViewModel


<tr class="city">
    <td>
        @Model.City.Name
    </td>
    <td>
        @Model.Country.Name
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.City.CityId">Edit</a> |

        <form asp-action="Delete">
            <input type="submit" value="Delete" /> |
            <a asp-action="Index">Back to List</a>
        </form>
        @*<a asp-action="Delete" asp-route-id="@Model.City.CityId">Delete</a>*@
    </td>
</tr>