@model Backend.Models.ViewModels.CityViewModel



<div class="deleteCity">
    <h3>Are you sure you want to delete 
        @if (Model.City != null)
        {
            @Model.City.Name
        }
    </h3>

    <form asp-action="Delete" id="deleteForm">
        <input type="submit" value="Delete" />
        <a asp-action="Index">Back to List</a>
    </form>

</div>