@page
@model LogoutModel
@{
    ViewData["Info"] = "Are you sure you want to log out? If so click the button under our logo and see you soon again!";
}

<header>
    <h1>@ViewData["Info"]</h1>
    <img src="~/images/icons/logo.png" class="center" alt="vacationey logo">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link btnlogout center">Logout</button>
            </form> 

        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
