#slider {
    width: 99vw;
    height: 92vh;
    z-index: 2;
    overflow: hidden;
    margin-top: 8vh;
}

    #slider img {
        width: 100%;
        height: 100vh;
    }



#imageContainer {
    width: 70vw;
    height: 60vh;
    background-color: white;
    display: flex;
    overflow: hidden;
    margin-top: 6%;
    margin-bottom: 2%;
    border-radius: 50px;
    outline: 2px solid white;
}

.photo {
    width: 70vw;
    height: 60vh;
}

.slider {
    margin-top: 2vh;
    width: 70vw;
    height: 60vh;
    border-radius: 50px;
}


.text {
    width: 80vh;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Impact','Arial Black','Arial' cursive;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

    .waviy span {
        position: relative;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        animation: waviy 2s infinite;
    }

        .waviy span:nth-of-type(0) {
            animation-delay: 150ms;
        }

        .waviy span:nth-of-type(1) {
            animation-delay: 300ms;
        }

        .waviy span:nth-of-type(2) {
            animation-delay: 450ms;
        }

        .waviy span:nth-of-type(3) {
            animation-delay: 600ms;
        }

        .waviy span:nth-of-type(4) {
            animation-delay: 750ms;
        }

        .waviy span:nth-of-type(5) {
            animation-delay: 900ms;
        }

        .waviy span:nth-of-type(6) {
            animation-delay: 1050ms;
        }

        .waviy span:nth-of-type(7) {
            animation-delay: 1200ms;
        }

        .waviy span:nth-of-type(8) {
            animation-delay: 1350ms;
        }

        .waviy span:nth-of-type(9) {
            animation-delay: 1500ms;
        }

@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

#imageContainer input {
    display: none;
}

.slide {
    transition: 2s;
}

.map {
    margin-top: 2%;
    outline: 2px solid white;
    border-radius: 40px;
}

.nav-manual {
    position: absolute;
    width: 70vw;
    margin-top: 50vh;
    display: flex;
    justify-content: center;
}

.navig-auto {
    position: absolute;
    display: flex;
    width: 70vw;
    justify-content: center;
    margin-top: 50vh;
}

.manual-btn {
    border: 5px solid #333;
    padding: 5px;
    margin: 0.2vh;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s
}

    .manual-btn:hover {
        background-color: white;
    }

#btn1:checked ~ .first {
    margin-left: 0;
}

#btn2:checked ~ .first {
    margin-left: -100%;
}

#btn3:checked ~ .first {
    margin-left: -200%;
}

#btn4:checked ~ .first {
    margin-left: -300%;
}

.navig-auto div {
    border: 5px solid #333;
    padding: 5px;
    margin: 0.2vh;
    border-radius: 10px;
    transition: 0.5s;
}

#btn1:checked ~ .navig-auto .auto-btn1 {
    background-color: white;
}

#btn2:checked ~ .navig-auto .auto-btn2 {
    background-color: white;
}

#btn3:checked ~ .navig-auto .auto-btn3 {
    background-color: white;
}

#btn4:checked ~ .navig-auto .auto-btn4 {
    background-color: white;
}
