.logovacationey {
    margin: 0 35vw;
}

#logout img {
    height: 30vw;
    width: 30vw;
    transition: transform 3.5s, visibility .25s ease-in;
}

    #logout img:hover {
        transform: scale(1.2);
    }

.btnlogout {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #3e3e47;
    color: antiquewhite;
    /*transition: transform .5s, visibility .25s ease-in;*/
}

.additional30px{
    margin-left:37vw;
}

.topzero{
    margin-top:30px;
}

