@model Backend.Models.DbModels.Country


<div class="deleteCity">
    <h3>Are you sure you want to delete @Model.Name </h3>

    <form asp-action="Delete" id="deleteForm">
        <input type="submit" value="Delete" />
        <a asp-action="Index">Back to List</a>
    </form>

</div>