@model IEnumerable<Backend.Models.ViewModels.OfferViewModel>

<div id="landing-page">
    <img src="/images/test.jpg" alt="Hello">
</div>


<div class="query">

    <div class="filter">
        <p>
            Country
        </p>

        <select id="selectCountry" asp-items="ViewBag.Countries">
            <option value="">ViewBag.Default</option>
        </select>
    </div>

    <div class="filter">
        <p>
            Country
        </p>

        <select id="selectCountry" asp-items="ViewBag.Countries">
            <option value="">ViewBag.Default</option>
        </select>
    </div>
     <div class="filter">
        <p>
            Country
        </p>

        <select id="selectCountry" asp-items="ViewBag.Countries">
            <option value="">ViewBag.Default</option>
        </select>
    </div>

     <div class="filter">
        <p>
            Country
        </p>

        <select id="selectCountry" asp-items="ViewBag.Countries">
            <option value="">ViewBag.Default</option>
        </select>
    </div>



    <input id="submit" type="submit" onclick="submitForm('Offer/Search?countrySearch=')" value="Filter" />


</div>





@foreach (var item in Model)
{
    <partial name="Offer" model=item />
}