@model IEnumerable<Backend.Models.ViewModels.OfferViewModel>

<div id="landing-page">
    <img src="/images/test.jpg" alt="Hello">
</div>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

@*<form asp-controller="Offer" asp-action="Index" method="get">
    <p>

        Country
        <select asp-for="OfferCountry" asp-items="Model.Countries">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="Offer" asp-action="Index" method="get">
    
        Country
        <select asp-for="OfferCountry" asp-items="Model.Countries">
            <option value="">All</option>
        </select>
</form>*@




@foreach (var item in Model)
{
    @Html.Partial("Offer", item)

}