@model IEnumerable<Backend.Models.ViewModels.OfferViewModel>

<div id="landing-page">
    <img src="/images/test.jpg" alt="Hello">
</div>

<script type="text/javascript">
    function submitForm() {
        var select = document.getElementById("selectCountry");
        var value = select.options[select.selectedIndex].value;
        window.location.replace("Search?countrySearch=" + value );
    };
</script>

<p>

    Country
    <select id="selectCountry" asp-items="ViewBag.Countries">
        <option value="">All</option>
    </select>

    <input type="submit" onclick="submitForm()" value="Filter" />
</p>



@foreach (var item in Model)
{
    <partial name="Offer" model=item />
}