@model IEnumerable<Backend.Models.ViewModels.OfferViewModel>


<p>

    Country
    <select id="selectCountry" asp-items="ViewBag.Countries">
        <option value="">All</option>
    </select>

    <input type="submit" onclick="submitForm('?countrySearch=')" value="Filter" />
</p>



@foreach (var item in Model)
{
    <partial name="Offer" model=item />
}